{% extends "accountbars.html" %}

{% block content %}

<!-- Main -->
<div id="main">

  {% for post in postlist %}
  <!-- Post -->
  <article class="post">
    <header>
      <div class="title">
	<h2><a href="{{ '/%s/%s' % (username, post['id']) }}">{{ post[ 'title' ] }}</a></h2>
	<p>{{ post[ 'subtitle' ] }}</p>
      </div>
      <div class="meta">
	<time class="published">{{ post["create_ts"] }}</time>
	<a href="#" class="author"><span class="name">{{ post [ 'author' ] }}</span><img src={{ post ['author_pic'] }} alt="" /></a>
      </div>
    </header>
    <p> 

        {% if post["extensions"] %}
          {{ post["extensions"][-1]["content"] }}
        {% else %}
          {{ post["content"] }}
        {% endif %}
      
    </p>
    <footer>
      <ul class="actions">
	<li><a href="{{ '/%s/%s' % (username, post['id']) }}" class="button big">Continue Reading</a></li>
      </ul>

      <ul class="stats">
	<li><a href="#">General</a></li>
	<li><a href="#" class="icon fa-heart">420</a></li>
	<li><a href="#" class="icon fa-comment">1337</a></li>
      </ul>
    </footer>
  </article>

  {% endfor %}

</div>

{% endblock %}
