{% extends "accountbars.html" %}

{% block content %}

<!-- Main -->
<div id="main">

  {% for post in postlist %}
  <!-- Post -->
  <article class="post">
    <header>
      <div class="title">
	<h2><a href="{{ '/%s/%s' % (post['author'], post['id']) }}">{{ post[ 'title' ] }}</a></h2>
	<p>{{ post[ 'subtitle' ] }}</p>
      </div>
      <div class="meta">
	<time class="published">{{ post["create_ts"] }}</time>
	<a href="#" class="author"><span class="name">{{ post [ 'author' ] }}</span><img src={{ post ['author_pic'] }} alt="" /></a>
      </div>
    </header>
    <form method="POST" action={{"/admin/"~post['title']}}>
      {% for input in post['content'] %}
      <p>{{input~": "}}<input type="text" name={{input}}></p>
      {% endfor %}
      <footer>
	<ul class="actions">
	  <li><input type="submit" name="submit"></li>
	</ul>
      </footer>
    </form>
  </article>

  {% endfor %}

</div>

{% endblock %}
