{% extends "sideandnavbar.html" %}

{% block username %}
Logged in as: <b><i>{{ username }}</i></b>
{% endblock username %}

{% block content %}

<!-- Main -->
<div id="main">

  <!-- Post -->
  <article class="post">

    <header>
      <div class="title">
	<h2>Create a Story</h2>
      </div>
    </header>
    <form method="POST" action="/new">
      <input type="text" name="title" placeholder="Title" style="padding-bottom: 2e;">
      <br>
      <input type="text" name="subtitle" placeholder="Sub-title" style="padding-bottom: 2e;">
      <br>
      <textarea name="post" style="padding-bottom: 2e"></textarea>
      <br>
      <footer>
	<ul class="actions">
	  <li><input type="submit" name="submit" class="button big"></li>
	</ul>
      </footer>
    </form>
  </article>

</div>

{% endblock %}
