{% extends "sideandnavbar.html" %}

{% block content %}

<!-- Main -->
<div id="main">

  {% for post in postlist %}
  <!-- Post -->
  <article class="post">
    <header>
      <div class="title">
	<h2><a href="#">{{ post[ 'title' ] }}</a></h2>
	<p>{{ post[ 'subtitle' ] }}</p>
      </div>
      <div class="meta">
	<time class="published" datetime="2015-11-01">November 1, 2015</time>
	<a href="#" class="author"><span class="name">{{ post [ 'author' ] }}</span><img src="static/images/avatar.jpg" alt="" /></a>
      </div>
    </header>
    <p>{{ post [ 'content' ] }}</p>
    <footer>
      <ul class="actions">
	<li><a href={{post['url']}} class="button big">Continue Reading</a></li>
      </ul>
      <ul class="stats">
	<li><a href="#">General</a></li>
	<li><a href="#" class="icon fa-heart">28</a></li>
	<li><a href="#" class="icon fa-comment">128</a></li>
      </ul>
    </footer>
  </article>

  {% endfor %}

  <!-- Pagination -->
  <ul class="actions pagination">
    <li><a href="" class="disabled button big previous">Previous Page</a></li>
    <li><a href="#" class="button big next">Next Page</a></li>
  </ul>

</div>

{% endblock %}
