{% extends "sideandnavbar.html" %}

{% if extra %}
<p style="color:#F00">{{ extra }}</p>
{% endif %}

{% block content %}
<!-- Main -->
<div id="main">

  <!-- Post -->
  <article class="post">
    <header>
      <div class="title">
	<h2><a href="{{ '/%s/%s' % (username, post['id']) }}">{{ post[ 'title' ] }}</a></h2>
	<p>{{ post[ 'subtitle' ] }}</p>
      </div>
      <div class="meta">
	<time class="published">{{ post["create_ts"] }}</time>
	<a href={{"/"~post['author']}} class="author"><span class="name">{{ post['author'] }}</span><img src={{ post [ 'author_pic' ] }} alt="" /></a>
      </div>
    </header>    

    {% if hasContributed %}
      <p>{{ post['content'] }}</p>
      {% for extension in extensions %}
      <hr>
      <p>{{ extension["content"] }}</p>
      {% endfor %}
    
    {% else %}
      {% if extensions %}
      <p>{{ extensions[-1]["content"] }}</p>
      {% else %}
      <p>{{ post["content"] }}</p>
      {% endif %}

    <form action={{ "/%s/%s" % (username, post['id']) }} method="POST">
      <textarea name="extension" placeholder="Continue the story here"></textarea>
      <br>
      <input type="submit" name="submit" value="Update Story">
    </form>
    {% endif %}

  </article>

</div>

{% endblock %}
