{% extends "sideandnavbar.html" %}

{% block content %}

<!-- Main -->
<div id="main">
  
  <!-- Post -->
  <article class="post">
    <header>
      <div class="title">
	<h2><a href="#">{{ post[ 'title' ] }}</a></h2>
	<p>{{ post[ 'subtitle' ] }}</p>
      </div>
      <div class="meta">
	<time class="published" datetime="2015-11-01">November 1, 2015</time>
	<a href="#" class="author"><span class="name">{{ post [ 'author' ] }}</span><img src="static/images/avatar.jpg" alt="" /></a>
      </div>
    </header>
    <a href="#" class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
    <p>{{ post['content'] }}</p>
    {% for extension in extensions %}
    <p>{{ extensions }}</p>
    {% endfor %}
  </article>

{% endblock %}
